{% extends 'base.html' %}
{% block content %}

  <div class="card border-0 shadow" style="background-color:#E2E2E2;">
  <h2 class="text-center">Lista Producentów</h2>

{% for producent in object_list %}
  <a href="{% url 'games_list' producent.id %}">
  <div class="row" style="padding-top:10px;">
  <div class="col-xl-2">
    {% if producent.image %}
  <img src="{{producent.image.url}}" height="100px" width="100px"/>
    {% endif %}
  </div>
  <div>
  <h4>{{producent.nazwa}}</h4>
  {{producent.siedziba}}
  </div>
</div>
  </a>
    {% endfor %}
  <div class="row">
  <div class="col-xl-4 offset-xl-5">
{% if is_paginated %}
  <ul class="pagination">
    {% if page_obj.has_previous %}
      <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in paginator.page_range %}
      {% if page_obj.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
      <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}
</div>
  </div>

  </div>
{% endblock %}