<h3 class="text-center">Twoje dane:</h3>
<form method="POST" id="profile_form">
  <div class="modal-body">
    {% csrf_token %}
    <p>
      <label for="first_name">Imię</label><br/>
      <input type="text" name="first_name" class="form-control" autocapitalize="none" maxlength="150" required="" value="{{ form.first_name.value }}"
             id="id_first_name">
    </p>
    <p>
      <label for="last_name" class>Nazwisko</label><br/>
      <input type="text" name="last_name" class="form-control" autocapitalize="none" maxlength="150" required="" value="{{ form.last_name.value }}"
             id="id_last_name">
    </p>
    <p>
      <label for="email">Email</label><br/>
      <input type="text" name="email" class="form-control" autocapitalize="none" maxlength="150" required="" value="{{ form.email.value }}"
             id="id_email">
    {{ form.errors.email }}</p>
    <p>
      <label for="address">Adres</label><br/>
      <input type="text" name="address" class="form-control" autocapitalize="none" maxlength="150" required="" value="{{ form.address.value }}"
             id="id_address">
    </p>
    <p>
      <label for="phone_number">Numer telefonu</label><br/>
      <input type="text" name="phone_number" class="form-control" autocapitalize="none" maxlength="150" required="" value="{{ form.phone_number.value }}"
             id="id_phone_number">
    </p>
    <div class="form-group d-flex justify-content-left">
      <button type="submit"
              onclick=" PostWizard(event);" style="width:100%;"
              class="btn btn-primary mt-4">Zapisz
      </button>
    </div>
  </div>
</form>